#results {
   height: 65vh;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

#results h2 {
   margin-bottom: 0;
}

#map {
   flex: 1;
   box-shadow: 0 0 5px black;
}

input {
   width: min-content;
   padding: 1em;
}