body {
   font-family: "Segoe UI";
   background-color: #f1f1f1;
   margin: 2em;
}

#row {
   display: flex;
   flex-direction: row;
   gap: 1em;
}

#wrapper {
   display: flex;
   flex-direction: column;
}

img {
   width: 400px;
}

.other_screens {
   width: 50vw;
}