#output {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   max-width: 65vw;
   gap: 0.5em;
}

div {
   animation: hoverColor 1s ease-in-out infinite alternate;
}

.special {
   -webkit-animation: simple-scale 1s ease-in-out infinite alternate;
   animation: simple-scale 1s ease-in-out infinite alternate;
}

@-webkit-keyframes simple-scale {
   100% {
      -webkit-transform: scale(0.95);
   }
}

@keyframes simple-scale {
   100% {
      transform: scale(0.95);
   }
}

.results {
   width: min-content;
}

.game {
   width: 5em;
   height: 5em;
   border: 1px solid black;
}

.active {
   background-color: red;
}

input [type="button"]:focus {
   outline: none;
}